<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container my-5">
        <div class="text-center mb-5">
            <h1 class="display-4">Deteksi Wajah</h1>
            <p class="lead">Deteksi Wajah Menggunakan Flask Micro Web Framework.</p>
            <p class="lead">Andaru Triadi</p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h2 class="h4 mb-4">Upload Foto</h2>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input type="file" name="file" accept="image/*" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h2 class="h4 mb-4">Orang Ganteng</h2>
                        <img src="{{ url_for('face_recognition') }}" alt="Face Recognition Stream" class="img-fluid rounded" width="350">
                    </div>
                </div>
            </div>
            <div class="col-4">
                {% if output_image %}
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            <h2 class="h4 mb-4">Foto yg diupload</h2>
                            <img src="{{ url_for('static', filename='uploads/' + output_image) }}" alt="Detected Faces" class="img-fluid" width="350">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>